$black: #000000;
$ebony-clay: #282a3a;
$yellow-metal: #735f32;
$matte-black: #28282b;
$tussock: #c69749;
$gun-powder: #404258;
$fiord: #474e68;
$blue-bayoux: #50577a;
$storm-gray: #6b728e;
$white: #ffff;
$monza: #c70039;
